<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" md-truncate aria-label="" ng-click="toggleLeft()">
        <md-icon class="material-icons ng-scope ng-isolate-scope" aria-label="Menu">menu</md-icon>
      </md-button>
      <h2 md-truncate flex>Keep It</h2>

      <md-button>
        Right Bar Button
      </md-button>
    </div>

  </md-toolbar>
</div>