<!--<div layout="row" style="height: 500px;" ng-cloak>-->

    <!--<section layout="row">-->

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-open="isOpen" md-disable-backdrop md-whiteframe="4">
            <md-list ng-cloak flex>

                <md-list-item class="noright" ng-click="ngClickNotes($event)">
                    <md-icon md-font-set="material-icons">lightbulb_outline</md-icon>
                    <div class="md-list-item-text" layout="column">
                        Notes
                    </div>
                </md-list-item>
                <md-list-item class="noright" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        Reminders
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Labels</md-subheader>
                <md-list-item class="noright" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        Hoynar
                    </div>
                </md-list-item>
                <md-list-item class="noright" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        Hoynar
                    </div>
                </md-list-item>

            </md-list>
        </md-sidenav>

    <!--</section>-->

<!--</div>-->