
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import "~angular-material/angular-material.scss";


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
  //padding-bottom: 60px;
  background-color: #e8e8e8;
  color: rgba(0,0,0,.87);
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
}

.main-content {
  margin-left: 0;

  &.md-locked-open-add:not(.md-locked-open-add-active) {
    transition: margin-left $swift-ease-in-duration $swift-ease-in-timing-function;
    margin-left: 0;
 }

  &.md-locked-open-add-active {
    transition: margin-left $swift-ease-in-duration $swift-ease-in-timing-function;
  }

  &.sidenav-is-open {
    margin-left: 320px;
    transition: margin-left $swift-ease-in-duration $swift-ease-in-timing-function;
  }
}