<div>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" layout-fill>
        <div flex-xs flex-gt-xs="50" layout="column" >
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Login</span>
                        <span class="md-subhead">Ciao a tutti!</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container class="md-block">
                        <input required md-no-asterisk name="username" ng-model="username" placeholder="Username">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input required md-no-asterisk name="password" ng-model="password" placeholder="Password">
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button ng-click="loginAction($event)">Login</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>