<sidenav-app></sidenav-app>

<md-content class="main-content" flex ng-class="{'sidenav-is-open ': isToggleSidenav,'ng-animate': isToggleSidenav}">
    <div layout="row" flex layout-align="center">
        <new-note flex-xs flex-gt-xs="50" layout="column"></new-note>
    </div>
</md-content>
