<md-card>
    <md-card-content>
        <h2>
        <md-input-container md-no-float md-no-asterisk class="md-block">
            <input ng-model="title" placeholder="Title">
        </md-input-container>
        </h2>
        <md-input-container md-no-float class="md-block" md-maxlength="150" rows="5" md-select-on-focus>
            <!--<div role="textbox" aria-multiline="true" contenteditable ng-model="note" placeholder="Title"></div>-->
            <textarea ng-model="note" placeholder="Take a note..." ></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-footer>
        Card footer
    </md-card-footer>
</md-card>
